#wait {
    color: black;
    background-color: white;
    font-size: 20px;
}

#success {
    color: black;
    background-color: green;
    font-size: 20px;
}

#failure {
    color: black;
    background-color: red;
    font-size: 20px;
}