@page "/createguestbookentry"
@using System.IO
@using BazorProject.Shared
@using System.Text.Json;
@inject HttpClient Http

<h1>Neuer Eintrag</h1>
<label>
    Dein Name:
    <input @bind="name" />
</label>
<label>
    Schreibe eine Nachricht:
    <input @bind="message" />
</label>
<label>
    Lade ein Bild hoch (15 MB max):
    <InputFile id="filePicker" OnChange="@loadFile" />
</label>
<button @onclick="createEntry">Hinzufügen</button>

@code {
    IBrowserFile selectedFile;

    private async Task loadFile(InputFileChangeEventArgs e)
    {
        selectedFile = e.GetMultipleFiles().FirstOrDefault();
        this.StateHasChanged();
    }

    private string name = "";
    private string message = "";
    private bool shouldRender;
    protected override bool ShouldRender() => shouldRender;

    private async void createEntry()
    {
        shouldRender = false;
        long maxFileSize = 1024 * 1024 * 15;
        var upload = false;

        using var content = new MultipartFormDataContent();
        var fileContent = new StreamContent(selectedFile.OpenReadStream());

        if (selectedFile.Size < maxFileSize)
        {
            content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: selectedFile.Name);

            upload = true;
        }

        if (upload)
        {
            var response = await Http.PostAsync("/Filesave", content);

            var newUploadResults = await response.Content
                .ReadFromJsonAsync<IList<UploadResult>>();



            GuestbookEntry entry = new GuestbookEntry
            {
                Name = name,
                Message = message,
                Date = DateTime.Now,
                PathToFile = newUploadResults.FirstOrDefault()?.Path
            };

            var stringContent = new StringContent(JsonSerializer.Serialize(entry), System.Text.Encoding.UTF8, "application/json");
            var response2 = await Http.PostAsync("Guestbook/Save", stringContent);
        }

        shouldRender = true;
    }
}